@model ObterLimite

<div class="card card-body">
    <div class="row">
        <div class="text-center">
            <h5>Altera Limite Cliente</h5>
        </div>
    </div>
    @if (Model.ErrorMensagem != null) { 
        <div class="alert-danger">
            @Model.ErrorMensagem
        </div>
    }
    <div class="row">
        <div >
            <form asp-action="AlterarLimite">
                <input type="hidden" asp-for="Codigo" value="@Model.Codigo" />

                <label asp-for="Valor" class="form-label">Valor da Venda</label>
                <input type="number" asp-for="Valor" maxlength="18" step=".01" class="form-control" />
                <label class="form-label asp-for="Subtrair">Marque se for para diminuir o limite</label>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Subtrair" /> @Html.DisplayNameFor(model => model.Subtrair)
                    </label>
                </div>
                <input type="submit" class="btn btn-primary" value="Ajustar Limite" />



            </form>
            <a asp-action="Index">Cancelar</a>
        </div>
    </div>
</div>
